

 @keyframes pulsate-bck{0%{transform:scale(1)}50%{transform:scale(.9)}100%{transform:scale(1)}}

 
 body{margin: 0; padding: 0; background-color: black; font-family: Rockwell;letter-spacing: 1px;}


.container-fluid-1 {background-image: url('images/img-restaurant-2.jpg');background-repeat: no-repeat; background-size: cover;background-position: center; border-top: 0.6875rem solid black; height: 100vh; }

.header-opacity {height: auto;opacity: 75%;background-color:#230000;}

.navbar-nav {list-style: none;}

.nav-item { font-size:1.125rem;font-weight: bold;}

.logo-tel {width: 1.875rem;height: 1.875rem;}

.h1-header {font-size: 2.3125rem;font-weight: bold;}

.p-header {font-size: 1.625rem; font-weight: 400;}

/*************************partie Romain***********************/

.pulsate-bck{animation:pulsate-bck 2s ease-in-out infinite both}

.navbar-dark .navbar-toggler { color: white; border-color:white;}

.type-burger{background-image: url("images/bois-produit-1.jpg"); height: 100%; }

.epais{border: solid 0.62rem white;}

.ch-grid {/* 	margin: 20px 0 0 0; */padding: 0;list-style: none;display: block;text-align: center;width: 100%;}
    
.ch-grid:after,.ch-item:before {content: '';display: table;}
    
.ch-grid:after {clear: both;}
    
.ch-grid li {width: 220px;height: 220px;display: inline-block;margin: 20px;}
    
/* efect ? */

.ch-item {width: 100%;height: 100%;border-radius: 50%;position: relative;cursor: default;perspective: 900px;}

.ch-info{position: absolute;width: 100%;height: 100%;transform-style: preserve-3d;}

.ch-info > div {display: block;position: absolute;width: 100%;height: 100%;border-radius: 50%;background-position: center center;transition: all 0.4s step-end;transform-origin: 50% 0%;background-size: cover;}

/* .ch-info .ch-info-front {box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);} */

.ch-info .ch-info-back {transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);background: #000;opacity: 0;}

.ch-img-1 { background-image: url('images/01-burger-vegetarien-aux-courgettes_0.jpg');}

.ch-img-2{background-image: url("images/burger-montagnard.jpg");}

.ch-img-3{background-image: url("images/Burger-ducky.jpg");}

.ch-info h3 {color: #fff;text-transform: uppercase;letter-spacing: 2px;font-size: 24px;margin: 0 15px;padding: 44px 0 0 0;height: 110px;font-family: 'Roboto Mono', monospace;text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);}
    
.ch-info p {color: #fff;font-style: italic;margin: -11px 0;padding: 0 0 0 0;font-size: 12px;}
    
.ch-info p a:hover {color: rgba(255,242,34, 0.8);}

.ch-item:hover .ch-info-front {animation: flip-vertical-right 0.4s linear forwards;}

.ch-item:hover .ch-info-back {transform: rotate3d(1,0,0,0deg);opacity: 1;}

/******** Partie marylène ***********/

.contact{border-top: 2px solid white; border-bottom: 2px solid white;}

/**background**/
.bg-img-gris{background-image: url(images/bande-grise.png); background-repeat: repeat-x; background-position: center;}
.bg-img-ardoise{background-image: url(images/black-1072366_1920.png); margin-top: 2.5rem; margin-bottom: 2.5rem; width: 100%; background-repeat: no-repeat;background-size: cover;}
/** **/
.menu-offre h2 {font-size: 35px;}
.fs-13px{font-size: 0.8125rem;}
.fs-14px{font-size: 0.875rem;}
.fs-16px{font-size: 1rem;}
.fs-21px{font-size: 1.3125rem;}
.fs-25px{font-size: 1.5625rem;}
.text-danger{color: #fd021b!important; font-size: 30px; font-weight: 900;
}
/**/
.line-height{line-height: 2.5;}
/** **/
.img-carte{width: 367px; height: 342px;}
/***************** **********************/

/************* partie Ahmad **************/

*{padding: 0;box-sizing: border-box;}

.section-tours{background-image: url('images/bois-produit.jpg');}

.section-tours-title h2{font-size: 4rem;text-align: center;text-transform: uppercase;color: #fff;  }

.card-burger{perspective: 150rem;-moz-perspective: 150rem;position: relative;height: 32rem;margin-bottom: 1rem;}

.card__side{height: 32rem;transition: all .8s ease;position: absolute;top: 0;left: 0;width: 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;border-radius: 3px;overflow: hidden;box-shadow: 0 1.5rem 4rem rgba(black .15);margin-bottom: 1rem;}

.card__side--front{background-color: #fff;overflow: hidden;}

.card__side--back{overflow: hidden;transform: rotateY(180deg);display: flex;flex-direction: column;justify-content: space-around;align-items: center;}

.card__side--back-1 {background-color: #230000;}

.card__picture{background-size: cover;height: 14rem;background-blend-mode: screen;-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);border-top-left-radius: 3px;border-top-right-radius: 3px;}

.card__picture--img{width: 100%;height: 100%;-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);/* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);}

.card-burger:hover .card__side--front {transform: rotateY(-180deg);}

.card-burger:hover .card__side--back {transform: rotateY(0);}

.card__heading {font-size: 1.5rem;font-weight: 300;text-transform: uppercase;text-align: right;color:#fff;position: absolute;top: 12rem;right: 0rem;line-height: 2.3rem;}

.card__heading-span {padding: .8rem 1rem;-webkit-box-decoration-break: clone;box-decoration-break: clone;}

.card__heading-span--1{background-image: linear-gradient(to right bottom, red, #230000);}

.card__details {padding: 1rem; }

.card__details ul {list-style: none;width: 90%;margin: 0 auto; }

.card__details ul   li {text-align: center;font-size: 0.8125rem;padding: .6rem; }

.card__details ul  li:not(:last-child) {border-bottom: 1px solid #eee;}

.card__price-box{text-align: center;color: #ffffff;}

.card__price-only {font-size: 1.4rem;text-transform: uppercase;}

.card__price-value {font-size: 6rem;font-weight: 100;}

.btn:link,.btn:visited {text-transform: uppercase;text-decoration: none;padding: 1.5rem 4rem;display: inline-block;border-radius: 10rem;transition: all .2s;position: relative;font-size:1rem;border: none;cursor: pointer;}

.btn:hover{transform: translateY(-3px);box-shadow: 0 1rem 2rem rgba(black,.2);}

.btn::after {transform: scaleX(1.4) scaleY(1.6);opacity: 0;}

.btn:active,.btn:focus {outline: none;transform: translateY(-1px);box-shadow: 0 .5rem 1rem rgba(black,.2);}
    
.btn--white {background-color: #fff;color: #777;  margin-left: 2.4375rem; }

.btn--white ::after {background-color: #fff;}
 
.btn::after {content: "";display: inline-block;height: 100%;width: 100%;border-radius: 10rem;position: absolute;top: 0;left: 0;z-index: -1;transition: all .4s;}
    
.btn--animated {animation: moveInBottom .5s ease-out .75s;animation-fill-mode: backwards;}

#menu ul {
    display: flex;
    margin-top: 30px;
    }
    #menu ul li {
    list-style: none;
    padding-left: 30px;
    }
    #menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    }

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
        .card-burger{font-size: .8rem;}
        .card__side {font-size: .8rem;}
        .card__side--back{font-size: .8rem;}
        .card-burger:hover .card__side--front {font-size: .8rem;}
        .card__details {font-size: .8rem;}
    }

    /* @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
    } */
    .card-des{/* position: absolute;*/top: 0;left: 0;}
    .card-icon{width: 100%;height: 2rem;display: flex;color: #fff;}
    .card-icon-img{width:10%;height: 100%;margin-left:.8rem ;}
    .card-rating{width: auto; }
    .card-rating span{margin-left: .2rem;}


    @media (max-width: 575.98px) { 
        .btn-cercle{width: 13%;}
        .nav-item {font-size: 0.9375rem; font-weight: bold;}
        .h1-header {font-size: 1.5625rem; font-weight: bold;}
        .p-header {font-size: 1rem;}
        .part-text {padding-top: 5.75rem;padding-bottom: 4.75rem;}
        .p-header {width: 53%;}
        .btn-effect{padding-bottom: 40px;}
        .card__details ul   li {font-size: 10px;}
        .card__price-value {font-size: 5rem;}
        .btn--white {margin-left: 13px;}
        .card__heading {font-size: 19px;top: 12rem;width: 100%;}
        .card-rating-img {width: 8%;margin: .3rem;}
    }

    @media (min-width: 576px) and (max-width: 767.98px) { 
        .btn-cercle{width: 10%;}
        .nav-item {font-size: 0.9375rem; font-weight: bold; width: 15%;}
        .h1-header {font-size: 1.5625rem; font-weight: bold;}
        .p-header {font-size: 1.3125rem;}
        .h1-header {font-size: 1.75rem; font-weight: bold;}
        .part-text{padding-top: 130px; padding-bottom: 70px;}
        .p-header {width: 71%;}
        .btn-effect{padding-bottom: 65px;}
        .card-rating-img {width: 8%;margin: .3rem; }
        .card__heading {font-size: 19px;top: 12rem;width: 100%;}
    }


    @media (min-width: 768px) and (max-width: 991.98px) { 
        .btn-cercle{width: 10%;}
        .part-text{padding-top: 11.5625rem; padding-bottom: 7.1875rem;}
        .p-header {font-size: 1.5rem;}
        .p-header {width: 60%;}
        .btn-effect{padding-bottom: 80px;}
    .card-rating-img {width: 11%;margin: .3rem;}
        .card__heading {width: 102%;}
    }

    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .nav-item {font-size: 0.875rem; font-weight: bold;}
        .h1-header {font-size: 2.3125rem; font-weight: bold;}
        .p-header {font-size: 1.625rem;}
        .part-text{padding-top: 11.5625rem; padding-bottom: 7.1875rem;}
        .btn-cercle{width: 10%;}.p-header {width: 48%;}
        .btn-effect{padding-bottom: 105px;}
        .card-rating-img {width: 11%;margin: .3rem;}
        .card__heading {width: 100%;}
    }

    @media (min-width: 1200px) { 
        .part-text{padding-top: 17.5625rem; padding-bottom: 10.1875rem;}
        .p-header {width: 48%;}
        .btn-effect{padding-bottom: 105px;}
        .card-rating-img {width: 11%; margin: .3rem;}
        .card__heading {width: 100%;}
    }



    @media (max-width: 575.98px) { 
        .menu-offre { display: none;}
        .slider-menu{ display: block;}
        .img-carte{ display: none;}
        .fs-21px{font-size: 1.125rem;}
        .fs-25px{font-size: 1.3125rem;}  
        .facebook-img, .twitter-img, .insta-img{ width: 13%;}    
        .contact{text-align: center; }   
     }
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        .bg-img-gris{ display: none;}
        .menu-offre { display: none;}
        .slider-menu{ display: block;}     
        .img-carte{ width: 250px; height: 250px; margin-top: 80px; margin-left: 10px;}
        .fs-21px{font-size: 1.25rem;}
        .fs-25px{font-size: 1.4375rem;}
        .facebook-img, .twitter-img, .insta-img{ width: 13%;} 
     }
    
    @media (min-width: 768px) and (max-width: 991.98px) { 
        .bg-img-gris{ display: none;}
        .menu-offre { display: block;} 
        .slider-menu{ display: none;}
        .img-carte{ width: 300px; height: 300px; margin-top: 40px; margin-left: 20px;} 
        .facebook-img, .twitter-img, .insta-img{ width: 13%;}    
     }
    
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .menu-offre { display: block;}
        .slider-menu{ display: none;}
        .facebook-img, .twitter-img, .insta-img{ width: 13%;} 
     }
    
    @media (min-width: 1200px) {
        .slider-menu{ display: none;}
        .menu-offre { display: block;}
        .facebook-img, .twitter-img, .insta-img{ width: 13%;} 
     }


     @media (min-width: 320px)  {
    
        ol.show{margin-bottom: -2rem;}
        
        @-webkit-keyframes flip-vertical-right {
         0% {
           -webkit-transform: rotateY(0);
                   transform: rotateY(0);
         }
         100% {
           -webkit-transform: rotateY(180deg);
                   transform: rotateY(180deg);
         }
       }
       @keyframes flip-vertical-right {
         0% {
           -webkit-transform: rotateY(0);
                   transform: rotateY(0);
         }
         100% {
           -webkit-transform: rotateY(180deg);
                   transform: rotateY(180deg);
         }
       }
    }